

/*testing out the dropdown: https://www.youtube.com/watch?v=960mgtEarfs

 */


body {
    margin: 0;
    height: 100vh;
    background: url("css/image/universe.jpg");
}
.dropdown {
    margin: 0 auto;
}
nav {
    height: 60px;
    background: #997984;
    box-shadow: 0 10px 15px rgba(0,0,0, 0.1);
}

/*.logo{
    padding: 5px 0 0 80px;
    width: 150px;
    height: auto;
    font-family: "Apple SD Gothic Neo";
    font-size: medium;
}

 */
nav ul{
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 30px;
}

nav ul li {
    background: #997984;
    position: relative;
    list-style: none;
    display: inline-block;

}

nav ul li a {
    display: block;
    padding: 0 15px;
    color: white;
    text-decoration: none;
    line-height: 60px;
    font-size: 20px;
}
nav ul li a:hover {
    background: dimgray;
}
nav ul ul {
    position: absolute;
    top: 60px;
    display: none;
}
nav ul li:hover > ul {
    display: block;
}

nav ul ul li {
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
}





.title {
    color: azure;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1.5fr;
    grid-template-rows: 1fr 4fr 3fr 2fr;
    height: 100vh;
    margin: 2em;


}


main {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

}

section.adipose {
   grid-area: 3 / 1 / 4 / 2;

}

section.tardis {
    grid-area: 3 / 2 / 4 / 3;

}

section.bottom {
    grid-area: 4 / 1 / 5 / 4;
    background: url("css/image/doctor.jpg") center;

}

header {
    grid-area: 1 / 1 / 2 / 4;
    background-color: #997984;
}

.side-table {
    grid-area: 2 / 3 / 4 / 4;




}


